.wechat {
	height: 50px;
	cursor: pointer;
	border-radius:5px;
}

.discord {
	height: 50px;
	cursor: pointer;
	border-radius:5px;
}
.wechat:hover {
	background:rgba(0, 0, 0, 0.50);
}
.discord:hover {
	background:rgba(0, 0, 0, 0.50);
}
.about_us{
	background:none;
}

.wowclass1{
	color:#C79C6E;
}

.wowclass2{
	color:#F58CBA;
}

.wowclass3{
	color:#ABD473;
}

.wowclass4{
	color:#FFF569;
}

.wowclass5{
	color:#FFFFFF;
}

.wowclass6{
	color:#C41F3B;
}

.wowclass7{
	color:#0070DE;
}

.wowclass8{
	color:#69CCF0;
}

.wowclass9{
	color:#9482C9;
}

.wowclass10{
	color:#00FF96;
}

.wowclass11{
	color:#FF7D0A;
}

.wowclass12{
	color:#A330C9;
}

.vert-text{
    height: 484px;
}
.vert-text{
    overflow: hidden;
}
.vert-text table{
    position: relative; left: 0;
}

.vert-text table thead tr{
    display:block;
}

.vert-text table tbody{
    overflow-x: hidden;
    overflow-y: scroll;
    height:440px;
    display:block;
}

 /* for Chrome */
.vert-text table tbody::-webkit-scrollbar {
    display: none;
}
